.navbar{
    position: sticky;
    top:0;
    background-color:rgb(255, 255, 255);
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
}
.navbar label{
    display:none

}

#check:checked~.navbar ul{
    display:block
}
#check{
    display:none;
}

@media screen and (max-width:650px){
    .navbar label{
        display:block;
    }
    .navbar{
        ul{
            display:none;
        }
        
    }
    
}

.navbar ul{
    display: flex;
    list-style:none;
    gap: 60px;
    flex-wrap: wrap;

}
.navbar li:hover{
    color:#1e3932;
    cursor: pointer;
    text-decoration:underline;
}
.searchform{
    box-sizing:border-box;
    
}
.searchform input{
    width: 220px;
    
  
}
.searchform img{
    vertical-align: middle;
      
}
